<md-toolbar color="primary">MARRY-GoTChi</md-toolbar>

<div id="main-container" fxLayout="column" fxLayoutAlign=" center">
  <md-card class="status-card">
    <h6>Äktenskapsstatus</h6>
    <div fxLayoutAlign="center">
      <img *ngIf="currentStatus === 1" src="../assets/img/status_1.png" alt="">
      <img *ngIf="currentStatus === 2" src="../assets/img/status_2.png" alt="">
      <img *ngIf="currentStatus === 3" src="../assets/img/status_3.png" alt="">
      <img *ngIf="currentStatus === 4" src="../assets/img/status_4.png" alt="">
      <img *ngIf="currentStatus === 5" src="../assets/img/status_5.png" alt="">
    </div>

    <div class="slider-block">
      <span>Happiness</span>
      <span class="slider-value">{{ (happiness | async)?.value }}</span>
      <md-progress-bar #happBar [value]="(happiness | async)?.value" color="primary"></md-progress-bar>
    </div>

    <div class="slider-block">
      <span>Passion</span>
      <span class="slider-value">{{ (passion | async)?.value }}</span>
      <md-progress-bar #passionBar [value]="(passion | async)?.value" color="primary"></md-progress-bar>
    </div>

    <div class="slider-block">
      <span>Communication</span>
      <span class="slider-value">{{ (communication | async)?.value }}</span>
      <md-progress-bar #commBar [value]="(communication | async)?.value" color="primary"></md-progress-bar>
    </div>

  </md-card>
  <md-card class="action-card">
    <div class="action-row">
      <button md-raised-button color="accent" (click)="showLove(happBar, passionBar, commBar)">VISA KÄRLEK</button>
      <button md-raised-button color="accent" (click)="fight(happBar, passionBar, commBar)">BRÅKA</button>
      <button md-raised-button color="accent" (click)="contactFamily(happBar, passionBar, commBar)">KONTAKTA VÄN & FAMILJ</button>
    </div>
    <div class="reset" fxLayoutAlign="end">
      <div (click)="reset()">reset</div>
    </div>
  </md-card>
  <div class="bottom-sigil">
    <img src="../assets/img/da_sigil.png" alt="Desirée & Anders">
  </div>
  <div class="countdown">
    <div (click)="startCountDown()">start countdown</div>
  </div>
</div>